{
  "plugins": [
    "@trivago/prettier-plugin-sort-imports"
  ],
  "printWidth": 80,
  "tabWidth": 2,
  "singleQuote": true,
  "trailingComma": "es5",
  "proseWrap": "preserve",
  "importOrder": [
    "^@/(.*)$",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}